{%- let urls = urls -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ static_files.url_for("css/login.css")? }}">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h1>Forgot Password</h1>
            <p>Enter your email to reset your password</p>
        </div>

        <form class="login-form" action="" method="post">
            {% if form.has_errors() %}
            <div>
                {% for error in form.errors_for(FormErrorTarget::Form) %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="password1">Password</label>
                <input
                        type="password"
                        id="password1"
                        name="password1"
                        placeholder="Create a password"
                />
            </div>

            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                        type="password"
                        id="password2"
                        name="password2"
                        placeholder="Confirm your password"
                />
            </div>

            <button type="submit" class="login-button">
                Change Password
            </button>
        </form>
    </div>
</div>
</body>
</html>
